<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SavePath>C:\Users\felip\OneDrive\Dokumente\NSFW\-\4c\saves</SavePath>
  <SaveOP>true</SaveOP>
  <Language>english.lang</Language>
  <Version>1</Version>
</Settings>